In [1]:
 # Dependencies
import os
import csv
import pandas as pd

In [2]:
# Save path to data set in a variable
data_file = os.path.join("Resources", "budget_data.csv")

In [3]:
 # Use Pandas to read data
data_file_pd = pd.read_csv(data_file)
data_file_pd.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [4]:
#Count the rows
count = data_file_pd["Date"].count()
print(count)

86

In [5]:
#Find profit total
Profit_total = data_file_pd["Profit/Losses"].sum()
Profit_total

38382578

In [6]:
#set variables
change = 0
prev = 0
total = 0
greatest_increase = 0
decrease = 99999999
greatest_decrease = 0
greatest_increase_label = ""
greatest_decrease_label = ""
Total_Change = 0

In [7]:
#Open file and find total change, greatest increase and greatest decrease
with open(data_file, 'r') as csvfile:

    # Split the data on commas
    csvreader = csv.reader(csvfile, delimiter=',')

    header = next(csvreader)

    # Loop through the data
    for row in csvreader:

        total = total + 1
        if total > 1:
            change = int(row[1]) - prev
            Total_Change = Total_Change + change
       
            if change > greatest_increase:
                greatest_increase = change
                greatest_increase_label = row[0]
            if change < greatest_decrease:
                greatest_decrease = change
                greatest_decrease_label = row[0]
        prev = int(row[1])

In [8]:
print(greatest_increase_label, greatest_increase)

Feb-12 1926159

In [9]:
print(Total_Change)

-196785

In [10]:
#Find average change
Average = round(Total_Change / (count - 1), 2)
print(Average)

-2315.12

In [11]:
print(greatest_decrease_label, greatest_decrease)

Sep-13 -2196167

In [12]:
#Increase and decrease
Increase = str(greatest_increase_label) + " " + str(greatest_increase)
print(Increase)
Decrease = str(greatest_decrease_label) + " " + str(greatest_decrease)
print(Decrease)

Feb-12 1926159
Sep-13 -2196167

In [13]:
#Print the variables
print("Financial Analysis")
print("Total Months: " + str(count))
print("Total: $" + str(Profit_total))
print("Average Change " + str(Average))
print("Greatest Increase in Profits: " + str(greatest_increase_label) + " " + str(greatest_increase))
print("Greatest Decrease in Profits: " + str(greatest_decrease_label) + " " + str(greatest_decrease))

Financial Analysis
Total Months: 86
Total: $38382578
Average Change -2315.12
Greatest Increase in Profits: Feb-12 1926159
Greatest Decrease in Profits: Sep-13 -2196167

In [14]:
#set output
Pybank_Results = pd.DataFrame(
    {"Financial Analysis": [count], "Total Months": [Profit_total], "Average Change": [Average], "Greatest Increase in Profits": [Increase], "Greatest Decrease in Profits": [Decrease]})
Pybank_Results

,Financial Analysis,Total Months,Average Change,Greatest Increase in Profits,Greatest Decrease in Profits
0,86,38382578,-2315.12,Feb-12 1926159,Sep-13 -2196167

In [15]:
# Export file as a CSV, without the Pandas index, but with the header
Pybank_Results.to_csv("Output/Pybank.csv", index=False, header=True)